<h2>password Recovery</h2>
<form [formGroup]="getEmail" class="w-100 my-3" (ngSubmit)="handleForm(inputID.value)">
    <label for="email">Email</label>
    <input type="email" formControlName="email" id="email" class="form-control" #inputID >
    <div class="alert alert-danger" *ngIf="email?.errors && email?.touched ">
        <p *ngIf="email?.getError('required')">Email is Required</p>
        <p *ngIf="email?.getError('email')">type a valid Email</p>
    </div>
    <button class="btn btn-outline-success my-3" >Verify</button>
</form>